In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
xls = pd.ExcelFile('Supplementary file 2 - Data of presented compounds.xlsx')
df = pd.read_excel(xls, 'Flavone',usecols = ['No.','Name', 'Acarbose.2', 'Test.2','Acarbose.3','Test.3'])
df.columns = ['No','Name', '2.Acarbose (AG)', '1.Test (AG)', '4.Acarbose (AM)', '3.Test (AM)']
#df = pd.read_excel(xls, 'Flavan-3-ol', usecols = ['Name', 'SMILES_standardized', 'Ratio', 'Ratio.1'])

In [3]:
df['Name'] = df['Name'].fillna(method='ffill')
df['No'] = df['No'].fillna(method='ffill')
df.head(25)

,No,Name,2.Acarbose (AG),1.Test (AG),4.Acarbose (AM),3.Test (AM)
0,24.0,Taxifolin,197.908397,198.974997,NaN,NaN
1,24.0,Taxifolin,185.250000,977.340000,NaN,NaN
2,24.0,Taxifolin,4.600000,45.860000,77.880000,31.26000
3,24.0,Taxifolin,0.590000,2946.970000,NaN,NaN
4,24.0,Taxifolin,50.000000,1740.000000,NaN,NaN
5,24.0,Taxifolin,1421.158966,124.976031,209.221876,5114.15076
6,25.0,Silibinin,194.200000,11.540000,1.990000,59.11000
7,26.0,Dysosmaflavanone,1020.000000,1382.000000,623.900000,1330.00000

# Melt

In [4]:
df_melted = df.melt(id_vars=['No','Name'], value_vars=['2.Acarbose (AG)', '1.Test (AG)', '4.Acarbose (AM)', '3.Test (AM)'])

In [5]:
df_melted.dropna(inplace = True)
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 31
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        24 non-null     float64
 1   Name      24 non-null     object
 2   variable  24 non-null     object
 3   value     24 non-null     float64
dtypes: float64(2), object(2)
memory usage: 960.0+ bytes

In [6]:
df_melted['real_value'] = df_melted['value']*(10**(-6))
df_melted['log'] = df_melted['real_value'].apply(lambda x: -np.log10(x)) 
df_melted.drop('value', inplace=True, axis=1)
df_melted.drop('real_value', inplace=True, axis=1)
df_melted.head()

     No       Name         variable       log
0  24.0  Taxifolin  2.Acarbose (AG)  3.703536
1  24.0  Taxifolin  2.Acarbose (AG)  3.732242
2  24.0  Taxifolin  2.Acarbose (AG)  5.337242
3  24.0  Taxifolin  2.Acarbose (AG)  6.229148
4  24.0  Taxifolin  2.Acarbose (AG)  4.301030

In [7]:
def q25(x):
    return x.quantile(0.25)


def q75(x):
    return x.quantile(0.75)

In [8]:
df_result=df_melted.groupby(['No','Name','variable']).agg({'log':[np.median,'count',q25,q75]})

In [9]:
df_result.to_excel('Flavanonol.xlsx')